################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SchoolApp.sln
/.vs/SchoolApp/v17/fileList.bin
/.vs/SchoolApp/v17/.suo
/.gitignore
/upskills.pdf
/Passwords.json
